<strong>Hi, {{ student_name }}!</strong>
<p>Congratulations, you've been enrolled to a new plan! </p>
<p>
  <strong>Plan: </strong> {{ plan_title }} <br />
  <strong>Starting in: </strong> {{ start_date }} <br />
  <strong>Ending: </strong> {{ end_date }} <br />
  <strong>Total price: </strong> ${{ total_price }} <br />
  <br />
</p>
